node_modules
config/_variables.env.local
config/variables.env
config/variables.env.production
config/variables.env.staging
config/variables.env.aws.lamda
config/variables.env.nxstage
local/
logs/**
etc/**
dist
.swp
**/*/.Apple*
.Apple*

.webpack
.serverless
cicd
