# ENV AWS Lamda
NODE_ENV=production
JWT_SECRET=12345
COOKIE_NAME=ipreplay
COOKIE_DOMAIN=localhost
USE_DYNAMO_REMOTE=false
EMAIL_FROM=test@test.com
URI_FRONTEND=
UNSUBSCRIBE_URI_FRONTEND=

# AWS
AWS_REGION=us-west-2
AWS_SERVERLESS_SERVICE=aws_serverless_service

# AWS APP SYNC
APP_SYNC_NAME=APP_SYNC_NAME
APP_SYNC_AUTHENTICATION_TYPE=API_KEY
APP_SYNC_SERVICE_ROLE_ROLE_NAME=LambdaAppSyncRole

# NOTE set before deploy (welcome to AWS > My Account)
ACCOUNT_ID=123

# NOTE set after deploy (you can get it in url)
APP_SYNC_API_ID=123

# NOTE set after deploy (settings -> API_KEY)
APP_SYNC_API_KEY=123

# AWS LAMDA
AWS_LAMDA_FUNCTION_NAME=lamda_function
