# default "development", change env if need you can use "staging", "development", "production"
# NODE_ENV=development

# default port 8080
# PORT=8080

JWT_SECRET=12345

DYNAMO_LOCAL_URL=http://127.0.0.1:8000
DYNAMO_LOCAL_TEST_URL=http://127.0.0.1:8001
USE_DYNAMO_REMOTE=false

REDIS_URL=redis://127.0.0.1:6379

# amazon SES
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-west-2

COOKIE_NAME=ipreplay
COOKIE_DOMAIN=http://127.0.0.1:8080

# email
EMAIL_FROM=test@test.com
URI_FRONTEND=
UNSUBSCRIBE_URI_FRONTEND=

# socket (api v2)
SOCKET_ORIGINS=http://127.0.0.1:3000/

# need add on aws lamda in Environment variables
# USE_AMAZON_SERVERLESS=true
